@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 0px;
  display: none;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-padding-top: 5rem;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #181a1f;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1536px;
}
.noise {
  z-index: -20;
  position: absolute;
  inset: 0;
  background-image: url(./assets/noise.webp);
  opacity: 0.4;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.noise-container {
  position: relative;
  isolation: isolate;
  background-color: #17191e;
}
